.select-model {
    max-width: 900px!important;
}

.select-model table .active {
    background-color: rgba(0, 0, 0, 0.075);
    border-left: solid 2px #7571f9!important;
    border-right: solid 2px #7571f9!important;
}